# 1. CONSTRUCTING A DATABASE FOR MySQL

**Objective of this notebook:**

This note book contains the code for MySQL Database creation and inserting the bed files into the database

**IMPORTING THE PYTHON MODULES**

In [3]:
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import errorcode

**CONSTRUCTING A DATABASE**

In [4]:
#establishing the connection

eccdnadb_con = mysql.connector.connect(host="localhost", user="root", passwd="eccdna")
print(eccdnadb_con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000000003D582E0>

In [5]:
#Creating a cursor object using the cursor() method

mycursor = eccdnadb_con.cursor()

In [ ]:
#Droping database MYDATABASE if already exists.
mycursor.execute("DROP database IF EXISTS eccdna_db")

In [ ]:
#Preparing query to create a database

sql = "CREATE database eccdna_db";

#Creating a database
mycursor.execute(sql)

In [ ]:
#Retrieving the list of databases

print("List of databases: ")
mycursor.execute("SHOW DATABASES")
print(mycursor.fetchall())

In [ ]:
DB_NAME = 'eccdna_db'

In [ ]:
TABLES = {}

TABLES["sample_info"] = ("CREATE TABLE `sample_info` ("
                                                     " `sample_id` VARCHAR(100) NOT NULL,"
                                                     " `ngs_seqtech` VARCHAR(100) NOT NULL,"
                                                     " `comments` MEDIUMTEXT,"
                                                     "  PRIMARY KEY (`sample_id`)"
                                                     ") ENGINE=InnoDB")

TABLES["data"] = ("CREATE TABLE `data` ("
                                                     " `sample_id` VARCHAR(100) NOT NULL,"
                                                     " `chr` VARCHAR(100) NOT NULL,"
                                                     " `start_coord` INT NOT NULL,"
                                                     " `end_coord` INT NOT NULL,"
                                                     " `discordants` INT NOT NULL,"
                                                     " `split_reads` INT NOT NULL,"
                                                     " `circle_score` FLOAT NOT NULL,"
                                                     " `mean_cov` FLOAT NOT NULL,"
                                                     " `stddev_cov` FLOAT NOT NULL,"
                                                     " `cov_incr_start` FLOAT NOT NULL,"
                                                     " `cov_incr_end` FLOAT NOT NULL,"
                                                     " `cov_continuity` FLOAT NOT NULL,"
                                                     " `target` INT NOT NULL,"
                                                     "  PRIMARY KEY (`sample_id`),"
                                                     "  FOREIGN KEY (`sample_id`) \
                                                        REFERENCES `sample_info` (`sample_id`) \
                                                        ON UPDATE CASCADE \
                                                        ON DELETE CASCADE"
                                                        ") ENGINE=InnoDB")
                                                     
TABLES["training_data"] = ("CREATE TABLE `training_data` ("
                                                     
                                                     " `percent_group` FLOAT NOT NULL,"
                                                     " `sample_id` VARCHAR(100) NOT NULL,"
                                                     " `chr` VARCHAR(100) NOT NULL,"
                                                     " `start_coord` INT NOT NULL,"
                                                     " `end_coord` INT NOT NULL,"
                                                     " `discordants` INT NOT NULL,"
                                                     " `split_reads` INT NOT NULL,"
                                                     " `circle_score` FLOAT NOT NULL,"
                                                     " `mean_cov` FLOAT NOT NULL,"
                                                     " `stddev_cov` FLOAT NOT NULL,"
                                                     " `cov_incr_start` FLOAT NOT NULL,"
                                                     " `cov_incr_end` FLOAT NOT NULL,"
                                                     " `cov_continuity` FLOAT NOT NULL,"
                                                     " `target` INT NOT NULL,"
                                                     "  PRIMARY KEY (`sample_id`),"
                                                     "  FOREIGN KEY (`sample_id`) \
                                                        REFERENCES `sample_info` (`sample_id`) \
                                                        ON UPDATE CASCADE \
                                                        ON DELETE CASCADE"
                                                        ") ENGINE=InnoDB")
                                                                              

TABLES["test_data"] = ("CREATE TABLE `test_data` ("
                                                     " `percent_group` FLOAT NOT NULL,"
                                                     " `sample_id` VARCHAR(100) NOT NULL,"
                                                     " `chr` VARCHAR(100) NOT NULL,"
                                                     " `start_coord` INT NOT NULL,"
                                                     " `end_coord` INT NOT NULL,"
                                                     " `discordants` INT NOT NULL,"
                                                     " `split_reads` INT NOT NULL,"
                                                     " `circle_score` FLOAT NOT NULL,"
                                                     " `mean_cov` FLOAT NOT NULL,"
                                                     " `stddev_cov` FLOAT NOT NULL,"
                                                     " `cov_incr_start` FLOAT NOT NULL,"
                                                     " `cov_incr_end` FLOAT NOT NULL,"
                                                     " `cov_continuity` FLOAT NOT NULL,"
                                                     " `target` INT NOT NULL,"
                                                     "  PRIMARY KEY (`sample_id`),"
                                                     "  FOREIGN KEY (`sample_id`) \
                                                        REFERENCES `sample_info` (`sample_id`) \
                                                        ON UPDATE CASCADE \
                                                        ON DELETE CASCADE"
                                                        ") ENGINE=InnoDB")  

TABLES["results"] = ("CREATE TABLE `results` ("
                                                     " `percent_group` FLOAT NOT NULL,"
                                                     " `sample_id` VARCHAR(100) NOT NULL,"
                                                     " `chr` VARCHAR(100) NOT NULL,"
                                                     " `start_coord` INT NOT NULL,"
                                                     " `end_coord` INT NOT NULL,"
                                                     " `discordants` INT NOT NULL,"
                                                     " `split_reads` INT NOT NULL,"
                                                     " `circle_score` FLOAT NOT NULL,"
                                                     " `mean_cov` FLOAT NOT NULL,"
                                                     " `stddev_cov` FLOAT NOT NULL,"
                                                     " `cov_incr_start` FLOAT NOT NULL,"
                                                     " `cov_incr_end` FLOAT NOT NULL,"
                                                     " `cov_continuity` FLOAT NOT NULL,"
                                                     " `target` INT NOT NULL,"
                                                     "  PRIMARY KEY (`sample_id`),"
                                                     "  FOREIGN KEY (`sample_id`) \
                                                        REFERENCES `sample_info` (`sample_id`) \
                                                        ON UPDATE CASCADE \
                                                        ON DELETE CASCADE"
                                                        ") ENGINE=InnoDB")

In [ ]:
# Creating the Database

def create_database(cursor):
    try:
        mycursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DB_NAME))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    mycursor.execute("USE {}".format(DB_NAME))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(DB_NAME))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor)
        print("Database {} created successfully.".format(DB_NAME))
        eccdnadb_con.database = DB_NAME
    else:
        print(err)
        exit(1)

In [ ]:
# Creating tables in database

for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        mycursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

In [ ]:
## getting all the tables which are present in 'datacamp' database
mycursor.execute("SHOW TABLES")

tables = mycursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

In [ ]:
mycursor.close()
eccdnadb_con.close()